---
layout: default
---

{% assign posts = "math details|math_details,implementation details|implementation_details" | split: ',' %}

<article class="card-wrapper card">
  {% for post in posts %}
    {% assign splited_post = post | split: '|' %}
    <a href="{{site.baseurl}}/{{ splited_post[1] }}" class="post-preview row g-0 flex-md-row-reverse">
    {% assign card_body_col = '12' %}

    <div class="col-md-{{ card_body_col }}">
      <div class="card-body d-flex flex-column">
        <h1 class="card-title my-2 mt-md-0">{{ splited_post[0] }}</h1>

        <!-- .post-meta -->
      </div>
      <!-- .card-body -->
    </div>
  </a>
  {% endfor %}
</article>

<!-- <a href="math_details">math details</a> <br>
<a href="implementation_details">implementation details</a> -->